name: explorer-deploy-dev

on:
  push:
    branches:
      - "main"

jobs:
  deploy:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
      - name: Deploy API server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.DEV_SERVER_A_HOST }}
          port: ${{ secrets.DEV_SERVER_A_PORT }}
          password: ${{ secrets.DEV_SERVER_A_PW }}
          username: ${{ secrets.DEV_SERVER_A_ID }}
          script: |
            pwd
            cd polkadot-dev
            git fetch --all
            git checkout release-dev
            docker rm -f pdao-polkadot-colony-chain-dev-container
            docker build -t pdao-polkadot-colony-dev -f colony-chain/Dockerfile .
            docker image prune -f
            docker run -p 8080:4000 --name pdao-polkadot-colony-dev-container -d pdao-polkadot-colony-dev